{
  "Entries": [
    {
      "RequestUri": "https://t-kerlee-cloudevent-topic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022:\u00229f3a6473-5796-edc4-80f9-e6d21bdc3af8\u0022,\u0022source\u0022:\u0022Subject-0\u0022,\u0022data\u0022:\u0022[{   \\u0022property1\\u0022: \\u0022abc\\u0022,  \\u0022property2\\u0022: \\u0022123\\u0022}]\u0022,\u0022type\u0022:\u0022record\u0022,\u0022time\u0022:\u00222020-07-24T19:27:18.3429307-07:00\u0022,\u0022specversion\u0022:\u00221.0\u0022},{\u0022id\u0022:\u0022eb2b1cd7-3645-7831-e208-54897ba020a4\u0022,\u0022source\u0022:\u0022Subject-1\u0022,\u0022data\u0022:\u00[...]
