{
  "Entries": [
    {
      "RequestUri": "https://t-kerlee-cloudevent-topic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022179cf472-58d2-bb03-a923-1d1a1cb8c0f7\u0022,\u0022source\u0022:\u0022Subject-0\u0022,\u0022data\u0022:\u0022[{   \\u0022property1\\u0022: \\u0022abc\\u0022,  \\u0022property2\\u0022: \\u0022123\\u0022}]\u0022,\u0022type\u0022:\u0022record\u0022,\u0022time\u0022:\u00222020-07-24T19:27:17.7511810-07:00\u0022,\u0022specversion\u0022:\u00221.0\u0022},{\u0022id\u0022:\u002243c3cade-9b45-23ab-8ed1-eaeb0fc0f7a4\u0022,\u0022source\u0022:\u0022Subject-1\u0022,\u0022data\u0022:\u00[...]
